<h1 class='center'> <%= @patient.name %> </h1>
<br />

<% if @patient.doctors.any? %>
  <h5> <u> Doctors </u> </h5>
    <ul>
      <% @patient.appointments.each do |appointment| %>
        <li>
          <%= appointment.doctor.name %> - <%= appointment.time %> |
          <%= link_to 'Remove', appointment_path(appointment), method: :delete,
                                          data: { confirm: 'Really Delete?' } %>

        </li>
      <% end %>
    </ul>
  <% else %>
    <h5> No Doctors Found </h5>
  <% end %>

<div class='center'>
<%= link_to 'Make Appointment', new_appointment_path, class: 'btn grey lighten-2 black-text' %>
</div>
