<%= form_for @doctor do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, required: true %>

  <%= f.label :specality %>
  <%= f.text_field :specality, required: true %>

  <div class='center'>
    <%= f.submit nil, class:'btn grey lighten-2 black-text' %>
  </div>
<% end %>
