<!DOCTYPE html>
<html>
  <head>
    <title>DrOffice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class='black white-text'>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Doctors Office</a>
        <a href="#" data-activates="mobile" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li> <%= link_to 'Doctors', doctors_path %> </li>
          <li> <%= link_to 'Patients', patients_path %> </li>
          <li> <%= link_to 'Make Appointment', new_appointment_path %> </li>
            <% if user_signed_in? %>
              <li> <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn black white-text' %> </li>
            <% else %>
              <li> <%= link_to 'Login', new_user_session_path, class: 'btn black white-text' %>
            <%end %>
        </ul>
        <ul class="side-nav" id="mobile">
          <li> <%= link_to 'Doctors', doctors_path %> </li>
          <li> <%= link_to 'Patients', patients_path %> </li>
          <li> <%= link_to 'Make Appointment', new_appointment_path %> </li>
            <% if user_signed_in? %>
              <li> <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn black white-text' %> </li>
            <% else %>
              <li> <%= link_to 'Login', new_user_session_path, class: 'btn black white-text' %>
            <%end %>
        </ul>
      </div>
    </nav>

    <% flash.each do |key, value| %>
      <div class="flash <%= key %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
